@import './styles/fonts.css';
@import './styles/tokens.css';
@import './styles/base.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}